	
		<script src="js/bootstrap/bootstrap.min.js"></script>
		<script src="js/bootstrap/bootstrap-switch.min.js"></script>
		<script src="js/bootstrap/dashboard.js"></script>
		<script src="js/bootstrap/docs.min.js"></script>
		<script src="js/bootstrap/holder.js"></script>
	</body>
</html>