   
	<div class="col-sm-12">
		<div id="bodyDashboard">
			<div id="container"></div>
		</div>
	</div>

	<script type="text/javascript" src="js/robot3D/robotStat.js"></script>
	<script type="text/javascript" src="js/robot3D/three/Three.js"></script>
	<script type="text/javascript" src="js/robot3D/three/Detector.js"></script>
	<script type="text/javascript" src="js/robot3D/three/RequestAnimationFrame.js"></script>
	<script type="text/javascript" src="js/robot3D/mainRobot.js"></script>